<p id="notice"><%= notice %></p>

<h1>Listing Grep Raws</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Search term</th>
      <th>Search path</th>
      <th>Command</th>
      <th>Result set count</th>
      <th>Error log</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grep_raws.each do |grep_raw| %>
      <tr>
        <td><%= grep_raw.id %></td>
        <td><%= grep_raw.search_term %></td>
        <td><pre style="width: 20em; height: 4em; overflow: scroll"><%= grep_raw.search_path %></pre></td>
        <td><pre style="width: 20em; height: 4em; overflow: scroll"><%= grep_raw.cmd %></pre></td>
        <td>
          <%#= grep_raw.result_set %>
          <%= grep_raw.grep_result_entries.count %>
        </td>
        <td><pre style="width: 20em; height: 4em; overflow: scroll">
          <%= grep_raw.error_log %>
        </pre></td>
        <td><%= link_to 'Show', grep_raw %></td>
        <td><%= link_to 'Edit', edit_grep_raw_path(grep_raw) %></td>
        <td><%= link_to 'Destroy', grep_raw, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grep raw', new_grep_raw_path %>
